<div>
  <%= @article.title %>
</div>

<div>
<%= @article.content %>
</div>
<div>
by <%= @article.author %>
</div>

<% @article.comments.each do |comment| %>
      <%= comment.message %>
      Posted by: <%= comment.email %>
<% end %>

<%= form_tag article_comments_path(@article.id) do %>
   <div>
     <%= label_tag :message %><br>
     <%= text_area_tag :message %>
   </div>

   <div>
     <%= label_tag :email %><br>
     <%= email_field_tag :email  %>
   </div>

   <div>
       <%= submit_tag "Submit Comment" %>
   </div>
<% end %>
